@font-face {
    font-family: "Exo 2.0 Thin";
    src: local("Exo 2.0 Thin"), url(./fonts/Exo2.0-Thin.otf) format("opentype");
}

* {
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    margin: 0;
    outline: none;
    padding: 0;
}
